    /* OSM */
.olControlPanZoom {
  display: none;
}
.olControlAttribution {
  bottom: 0em !important;
}
.olControlMousePosition {
  bottom: 1.25em !important;
}

body {
    font-family: helvetica,tahoma,verdana,sans-serif;
    padding: 0;
    margin: 0;
    font-size: 13px;
}
h1 {
	font-size: large;
}
h2 {
	font-size: 14px;
    color: #333;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.x-toolbar .drag-icon {
    background-image: url(../images/panning-hand-on.png);
}

.x-toolbar .info,
.x-toolbar .up,
.x-toolbar .down,
.x-toolbar .close {
    background-image: url(../images/tools.png);
    width: 15px;
    height: 15px;
}
.x-toolbar .info {
    background-position: 0 0;
}
.x-toolbar .up {
    background-position: -15px 0;
}
.x-toolbar .down {
    background-position: -30px 0;
}
.x-toolbar .close {
    background-position: -45px 0;
}
div.no-over table.x-btn-over td {
    background-image: none;
}
    
.x-toolbar .gx-map-measurelength,
.x-toolbar .gx-map-measurearea {
    background-image: url(../images/measure.png);
}
.x-toolbar .gx-map-measurelength {
    background-position: 0 0;
}
.x-toolbar .gx-map-measurearea {
    background-position: -16px 0;
}
