/* OSM */
.olControlPanZoom {
    display: none;
}
.olControlAttribution {
    bottom: 0em !important;
}
.olControlMousePosition {
    bottom: 1.25em !important;
}

.olControlLoadingPanel {
    background-image: url(../../app/images/waiting.gif);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    width: 32px;
    height: 32px;
    bottom: 2em;
    right: 3px;
}
.olPopup {
    border: 1px solid gray !important;
}
.olImageLoadError {
    display: none;
}

body {
    font-family: helvetica,tahoma,verdana,sans-serif;
    padding: 0;
    margin: 0;
    font-size: 13px;
}
h1 {
	font-size: large;
}
h2 {
	font-size: 14px;
    color: #333;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.x-toolbar .drag-icon {
    background-image: url(../images/panning-hand-on.png);
}
.x-toolbar .maxExtent {
    background: url('../images/map_magnify.png') top left no-repeat;
}
.x-toolbar .mapZoomIn {
    background: url('../images/zoom_in.png') top left no-repeat;
}
.x-toolbar .mapZoomOut {
    background: url('../images/zoom_out.png') top left no-repeat;
}
.x-toolbar .mapHistoryPrevious {
    background: url('../images/arrow_left.png') top left no-repeat;
}
.x-toolbar .mapHistoryNext {
    background: url('../images/arrow_right.png') top left no-repeat;
}
.x-toolbar .info,
.x-toolbar .up,
.x-toolbar .down,
.x-toolbar .close {
    background-image: url(../images/tools.png);
    width: 15px;
    height: 15px;
}
.x-toolbar .info {
    background-position: 0 0;
}
.x-toolbar .up {
    background-position: -15px 0;
}
.x-toolbar .down {
    background-position: -30px 0;
}
.x-toolbar .close {
    background-position: -45px 0;
}
div.no-over table.x-btn-over td {
    background-image: none;
}

.x-toolbar .gx-map-measurelength,
.x-toolbar .gx-map-measurearea {
    background-image: url(../images/measure.png);
}
.x-toolbar .gx-map-measurelength {
    background-position: 0 0;
}
.x-toolbar .gx-map-measurearea {
    background-position: -16px 0;
}
.x-toolbar .mapMeasurePosition {
    background: url('../images/bullet_orange.png') top left no-repeat;
}

.no-background div {
    background-color: transparent;
}

div.toolwindow {
    border: 1px solid #99BBE8;
    border-top: 0;
    border-right: 0;
    background: #ffffff;
    -moz-opacity:0.85;
    opacity: 0.85;
    filter:alpha(opacity=85);
}
div.toolwindow div.x-plain-tl {
    height: 20px;
    font-size: 14px;
    border-bottom: 1px solid #99BBE8;
}
div.toolwindow div.x-panel, div.toolwindow div.x-panel-body {
    border: none;
    background: none;
}
div.toolwindow div.title {
    padding: 2px 5px;
    background-color: #D0DEF0;
    border-bottom: 1px solid #99BBE8;
}

.bubble button {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 3px 3px;
}
.bubble td {
    background-image: none;
    text-align: left;
}

.olControlOverviewMapElement {
    background-color: #000000;
    background-color: rgba(0,0,0,0.75);
}

div.toolwindow div.routing div.title {
    border: none;
    background: none;
}
div.routing div.title {
    padding: 2px 5px 0 0;
}
div.routing div.itinary {
    padding: 3px 0 10px 0;
}
div.routing div.form {
    padding: 5px;
}

.olLayerViewGridTile256 {
    height: 134px;
    padding-top: 120px;
    width: 254px;
}
.olLayerViewGridTile1024 {
    height: 518px;
    padding-top: 520px;
    width: 1024px;
}
.olLayerViewGridTile {
    border: 1px dotted black;
    text-align: center;
}
.olLayerViewGridTile span {
    background-color: #FFFFFF;
    opacity: 0.6;
    padding: 0 4px;
}
.olLayerViewGridTile {
    text-align: center;
}
